.container {
    position: absolute;
    width: 20rem;
    line-height: 2rem;
    background-color: rgb(247, 203, 203);
    padding: 2rem;
}

h1 {
    margin-block-start: 0;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    text-align: center;
}

input {
    margin-top: 0.3rem;
    float: right;
    text-align: left;
    width: 8rem;
}

label {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pr::after {
    content: '%';
}

.ft::after {
    content: 'Ft';
}

div::after {
    position: absolute;
    right: .5em;
    transition: all .05s ease-in-out;
}

div {
    display: block;
    position: relative;
}

#result {
    color: rgb(143, 6, 136);
}

div:hover::after,
div:focus-within::after {
  right: 1.5em;
}